*{
 margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    
}

    header {
        width: 100%;
        height: 400px;
        background: linear-gradient(to bottom, #50B5E1 15%, #80CEF1 30%, #A3E1FC 40%, #D6F3FF 50%, #FFFFFF 60%);
        display: flex;
        gap: 200px;
        
        
        .infofrei{
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            align-items: center;
            margin-bottom: -100px;
            }

            .feira3{
                margin-top: -200px;
            }
   .imgfrei{
    width: 120px;
    height: 140px;
    padding: 50px;
   }
   .imgfrei2{
    width: 150px;
    height: 150px;
    padding: 240px 50px;
   }

   .quinta{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
   }
   .subquinta{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    margin-top: -20px;
   }
   .divtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    background-color: #F29F05;
   }
   .title{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    
   }
   p{
    margin-top: -20px;
    font-size: 16px;
   }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    .slider{
        margin: 0 auto;
        width: 800px;
        height: 400px;
        overflow: hidden;

    }
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
    .slides input{
        display: none;
    }
    .slide{
        width: 25%;
        position: relative;

    }
    .slide img{
        width: 800px;
    }
    .manual-navigation{
        position: absolute;
        width: 800px;
        display: flex;
        justify-content: center;
    }
    .manual-btn{
        border: 2px solid rgb(0, 0, 0);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:Last-child){
        margin-right: 40px;
    }
    .manual-btn:hover{
        background-color: rgb(15, 12, 12);
    }
    #radio1:checked ~ .primeiro{
        margin-left: 0;
    }
    #radio2:checked ~ .primeiro{
        margin-left: -25%;
    }
    #radio3:checked ~ .primeiro{
        margin-left: -50%;
    }
    #radio4:checked ~ .primeiro{
        margin-left: -75%;
    }
    #radio5:checked ~ .primeiro{
        margin-left: -100%;
    }

    .navigation-auto div{
        border: 2px solid black;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .navigation-auto{
        position: absolute;
        width: 800px;
        margin-top: 360px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: #000000;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #000000;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #000000;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: #000000;
    }
    #radio5:checked ~ .navigation-auto .auto-btn5{
        background-color: #000000;
    }
}


