.login-page {
  min-height: 100vh;
  background: linear-gradient(120deg,  #ffffff 0%, #0035a7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;

  .img-frei img{
    width: 130px;
    height: 130px;
  }
}

.login-container {
  margin-top: -50px;
  position: relative;
  background-color: #e8fbff;
  width: 350px;
  border-radius: 10px;
  padding: 60px 150px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;


  .Voltar{
    position: absolute;
    top: 0;
    left: 2%;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 5px;
      text-decoration: none;
      color: black;
    }
    
  
    .Voltar img {
      width: 35px;
      height: 20px;
      transform: rotate(180deg);
    }
  
    .Voltar h1{
      margin-top: 30px;
      text-decoration: none;
      font-size: 25px;
    }
  

    h1 {
        margin-bottom: 30px;
        
    }

    h1,h2,h3{
      font-weight: normal;
      
    }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
    position: relative;
    align-items: flex-start;
    text-align: left;
    width: 100%;

        h3{
          text-align: center;
          margin-bottom: 3px;
          font-weight: 100;
        }

        #nome, #senha{
          font-size: 15px;
          width: 100%;
        }

        label {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
            margin-bottom: 5px;
            text-align: left;
            font-weight: 500;
            font-size: 14px;
            color: #222;
        }

        .EMS{
          font-size: 10px;
          color: #414040;
          margin: 5px 0 0 250px;
        }

        input {
            padding: 10px 150px 10px 20px;
            font-size: 14px;
            border: 1px solid #aaa;
            border-radius: 10px;
            outline: none;
            transition: border-color 0.3s;

                &:focus {
                    border-color: #3a9bdc;
                }
        }

        input::placeholder{
          font-style: italic;
          font-size: 13px;
        }

    .forgot-password {
      position: absolute;
      right: 10px;
      bottom: -20px;
      font-size: 12px;
      color: #555;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .entrar {
    background-color: #f8a700;
    border: none;
    color: #222;
    font-size: 16px;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
    text-decoration: none;
    margin: auto;

    &:hover {
      background-color: #e08c00;
    }
  }
}