*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
}


header{
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    z-index: 1000;
    margin-top: -80px;

    .info-header{
        display: flex;
        gap: 450px;
        justify-content: center;
        margin-top: 20px;
    }
    .underline-textos{
        display: flex;
        gap: 20px;
        margin-left: 0px ;
        margin-top: 10px;
        
    }
    .login-cadastrar{
        display: flex;
        gap: 70px;
    }

    .argumentos{
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        transition: all 0.5s;
    }

    .argumentos {
        position: relative;
        display: block;
    }
    
    .argumentos::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transform: translateX(-50%) scaleX(1);
        transition: 0.4s ease-in-out;
    }
    
    .argumentos:hover::before {
        transform: translateX(-50%) scaleX(0);

    }
    .argumentos:hover{
        transform: translateY(-5px);
    }
     
    .login {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #F0A202;
        padding: 10px 60px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        position: relative;
        font-size: 20px;
        transition: all 0.5s;
    
       
        p {
            transition: transform 0.5s ease-in-out;
        }
    
        &:hover {
            transform: translateY(-5px);
    
            p {
                transform: scale(1.1);
            }
        }
    }
    .cadastrar{
        text-decoration: none;
        color: #1B49E2;
        font-family: Arial, Helvetica, sans-serif;
        padding: 8px 40px;
        border-top: 2px solid #39A9DB;
        border-bottom: 2px solid #39A9DB;
        position: relative;
        transition: all 0.5s ease-in-out;
        font-size: 20px;

        &:hover{
            transform: translateY(-5px);
        }
    }
    .cadastrar::before,
.cadastrar::after {
  content: '';
  position: absolute;  
  height: 25px; 
  border: 2px solid #39A9DB;

}

.cadastrar .left,
.cadastrar .right {
    position: absolute;
    background-color: #43b7ec;
    transition: all 0.5s ease-in-out;
}

.left {
    left: 0;
    top: 25px;
    width: 2px;
    height: 0; 
}

.right {
    right: 0;
    bottom: 25px;
    width: 2px;
    height: 0; 
}

.cadastrar:hover .left {
    height: 40%; 
}

.cadastrar:hover .right {
    height: 40%; 
}


.cadastrar::before {
  top: -1px;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.cadastrar::after {
  bottom: -1px;
  right: 0;
  border-left: none;
  border-top: none;
}

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;

.central-topo {
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, #0883d4 1%, #50B5E1 20%, #80CEF1 35%, #A3E1FC 45%, #D6F3FF 55%, #FFFFFF 60%);
    display: flex;
    gap: 200px;

    .infofrei{
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        margin-bottom: -100px;
    }

    
    .feira3{
        margin-top: -200px;
    }

    .imgfrei{
        width: 140px;
        height: 160px;
        padding: 50px;
    }

    .nucleo-orbita{
        margin-left: -10px;
    }
    .nucleo{
        width: 150px;
        height: 150px;
        padding: 260px 0px;
        margin-left: -120px;
    }
    .orbita{
        width: 200px;
        height: 200px;
        padding: 240px 0px;
        margin-left: -175px;
        animation: atomo 15s linear infinite;
    }

    @keyframes atomo {
        from {
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }

    .quinta{
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 70px;
        text-shadow: 
        -1px -1px 0 #0534ce,
         1px -1px 0 #0534ce,
        -1px  1px 0 #0534ce,
         1px  1px 0 #0534ce; 
    }

    .linha{
        width: 500px;
        background-color: #0534ce;
        height: 2px;
        margin-top: -35px;
        margin-left: -100px;
    }

    .subquinta{
        color: #0534ce;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        margin-top: -20px;
        font-weight: bold;
        margin-left: -100px;
    }
    .primtitulo{
        display: flex;
        gap: 30px;
        align-items: center;
        width: 800px;
        margin-left: -180px;
    }
    .quinta2{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: inset 0 0 0 5px #0534ce;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0534ce;
        font-size: 55px;
        transform: rotate(-20deg);
        font-family: Arial, Helvetica, sans-serif;
    }
}



    .slider-container{
        margin-top: -100px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 810px; // Largura total incluindo espaço para as setas
    }

    .slider{
        width: 650px;
        height: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }
    

    .slides{
        width: 500%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        position: relative;
    }

    .slides input{
        display: none;
    }

    .slide{
        width: 20%;
        position: relative;
        transition: 2s;
        height: 400px;
        margin-top: 100px;
        
    }

    .slide img{
        width: 1000px;
        height: 100%;
        object-fit: cover;
        
    }

    .img1, .img2, .img3, .img4, .img5{
        margin-top: -100px;
        margin-left: -50px;
        
    }

    // Posiciona as setas em relação ao slider-container
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #0534cee6;
        color: #FFFFFF;
        border: none;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        z-index: 100;
        height: 50px;
        width: 50px;
        border-radius: 50%;

        &:hover {
            font-size: 40px;
            transform: translateY(-50%) scale(1.1);
        }

        &:active {
            transform: translateY(-50%) scale(0.95);
        }
    }

    .arrow-prev {
        left: 0; // Posiciona no início do container
    }

    .arrow-next {
        right: 0; // Posiciona no final do container
    }

    #radio1:checked ~ .primeiro{
        margin-left: -2%;
    }

    #radio2:checked ~ .primeiro{
        margin-left: -21.5%;
    }

    #radio3:checked ~ .primeiro{
        margin-left: -41.55%;
    }

    #radio4:checked ~ .primeiro{
        margin-left: -62.5%;
    }

    #radio5:checked ~ .primeiro{
        margin-left: -83%;
    }

    .navigation-auto div{
        border-radius: 10px;
        padding: 5px;
        width: 20px;
        height: 1px;
        cursor: pointer;
        transition: 1s;
        margin-top: -30px;
        border: 1px solid #0534ce;
    }

    .navigation-auto{
        position: absolute;
        width: 100%;
        bottom: -40px;
        display: flex;
        justify-content: center;
        gap: 40px;
        z-index: 50;
        
    }
    
    .emotion{
        margin-top: 50px;
    }
    .textemotion{
        font-size: 30px;
        color: #0534ce;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }

}

.cursos{
    padding-top: 80px;
    

    .nu-oculto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        margin: 0 auto;
    }
    .opcoes-cursos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-cursos{
        padding: 10px 15px;
        font-size: 25px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: #F0A202;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        margin-top: 290px;
        z-index: 2;
        
    }

    .nu-oculto:hover .button-oculto{
        border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
    }

    .nu-oculto:hover .seta-baixo{
        transform: rotate(180deg);
        
    }

    

.nu-oculto:hover .oculto{
    visibility: visible;
    transform: translateY(25px);
    opacity: 1;

}
    .seta-baixo {
        width: 60px;
        height: 45px;
        transition: all 0.4s ease-in-out;
    }
    .oculto{
        display: flex;
        flex-direction: column;
        opacity: 0;
        z-index: 5;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        margin-top: -20px;
        transform: scale(0.8) translateY(20px);
        
    }

    .ocultos{
        width: 220px;
        height: 50px;
        font-size: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F0A202;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        transition: all 0.5s ease-in-out;
        border: none;

        &:hover{
            background-color: #FFFFFF;
            box-shadow: inset 0 0 4px 2px #1B49E2;
        }
    }
    .ocultos p{
        transition: all 0.5s ease-in-out;
    }

    .ocultos:hover p{
        transform: scale(1.1);
    }

    .ocultos:first-child{
        border-radius: 5px 5px 0 0 ;
    }
    .ocultos:last-child{
        border-radius: 0 0 5px 5px;
    }

    .ocultos:not(:last-child), 
    .ocultos:not(:first-child){
        border-bottom: 1px solid #da9306;
        border-top: 1px solid #da9306;
    }


    


    .video{
        position: absolute;
        margin-top: 100px;
        width: 1000px;
        height: 400px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: all 1s ease-in-out;
        display: flex;
        gap: 20px;
        background: linear-gradient(350deg, #ffffff 30%, #94a6ff 60%, #ffffff 90%);
  
        .text-véio{
            display: flex;
            flex-direction: column;

            h1{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            p{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 19px;
            }

            .ggpp{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 15px;
            }
        }

        img {
            border-radius: 5px;
          width: 300px;
          height: 280px;
        }
        
    }
    
}


.curso-expandido{
    position: absolute; // Para sobrepor com o vídeo
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 500px;
    background-color: #6ff597;
    margin-top: 100px;
    border-radius: 10px;
    z-index: 2;
    
    // TRANSIÇÃO APLICADA SEMPRE
    transition: all 1s ease-in-out;
}

.conteudo-area {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px; // Para manter altura consistente
  }


.curso-expandido.informática{
    background-color: #ffffff;
    box-shadow: inset 50px 0 0 0 #022892, inset -50px 0 0 0 #022892,inset 0 30px 0 0 #022892, inset 0 -30px 0 0 #022892;
    overflow: hidden;

    .Cartão-Informática{
        width: 1200px;
        height: 440px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;


        .h1-info{
            margin-top: 0px;
            font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: #021f6e;
            
        }

        .linha-info{
            height: 2px;
            width: 1000px;
            background-color: #021f6e;
        }

        .doisconteudos{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .sobre-info{
            width: 650px;
            height: 350px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-top: -50px;
            gap: 10px;


            .tudo-hardware {
                position: relative;
                width: 400px;
                margin-top: 50px;
                
                height: 350px;

            }
    
            .hardware {
                width: 300px;
                height: 350px;
                background-color: #d88d03;
                margin-top: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0;
                opacity: 1;
                transition: all 1s ease-in-out;
                border-radius: 35px;
                background: linear-gradient(135deg, #ebb520 10%, #e7b017 20%, #eba611 30%, #d88d03 50%, #f5af19 80%, #f7c627 100%);
                

                .seta-mouse{
                    width: 30px;
                    height: 35px;
                    margin: 0;
                  margin-top: -140px;
                }

            }
    
            .hardware h1 {
                color: #ffffff;
                font-size: 30px;
                margin-top: -100px;
               
            }
    
            .text-hardware {
                position: absolute;
                top: 5%;
                left: -13%;
                width: 100%;
                height: 350px;
                border-radius: 5px;
                opacity: 0;
                visibility: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all 1s ease-in-out;
                padding: 20px;
                box-sizing: border-box;
                z-index: 9;
            }
    
            .text-hardware p {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: rgb(0, 0, 0);
                text-align: center;
                margin: 0;
                
            }
    
            .ul-li {
                background-color: #F0A202;
                width: 280px;
                max-width: 370px;
                padding: 10px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 15px;
                border-radius: 5px;
                
            }
    
            .ul-li ul {
                margin: 0;
                padding-left: 20px;
                width: 100%;
            }
    
            .ul-li li {
                margin-bottom: 8px;
                color: #2b2b2b;
            }
    
            /* Efeito hover */
            .tudo-hardware:hover .hardware {
                opacity: 0;
                visibility: hidden;
            }
    
            .tudo-hardware:hover .text-hardware {
                opacity: 1;
                visibility: visible;
                transform: translateY(-15px);
            }

                

            .tudo-software{
                position: relative;
                width: 300px;
                height: 350px;
                margin-left: -100px;
                margin-top: 50px;
            }

            .tudo-software:hover .software{
                opacity: 0;
                visibility: hidden;
                
            }
            .tudo-software:hover .lg-software{
                opacity: 1;
                visibility: visible;
                transform: translateY(-15px);
            }

            .software{
                background: linear-gradient(135deg, #5050ff 10%, #2a2aff 20%, #1c1cfa 30%, #0000ff 50%, #2626f7 80%, #5353fd 100%);
                width: 300px;
                height: 350px;
                border-radius: 35px;
                margin-top: 0px;
                transition: all 1s ease-in-out;
                opacity: 1;
                display: flex;
                flex-direction: column;
                gap: 0;

                h1{
                    text-align: center;
                    font-size: 30px;
                }

                .seta-mouse2{
                    margin-top: -140px;
                    margin-left: 130px;
                    width: 30px;
                    height: 35px;
                }
            }
             
                
                .lg-software{
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 350px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 15px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 1s ease-in-out;
                    
                }

                .text-software p{
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;     
                   font-weight: bold;
                   line-height: 23px;
                }

                h1{
                    padding: 150px 10px;
                    color: #FFFFFF;
                    margin-top: 10px;
                }

                .parte1{
                    display: flex;
                    gap: 5px;
                }
                .parte2{
                    display: flex;
                    gap: 5px;
                }

            }

            h1{
                font-size: 25px;
                font-family: Arial, Helvetica, sans-serif;
            }

            .blocos-software {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                background-color: #c2d2ff;
                width: 80px;
                height: 30px;
                gap:5px;

                .bola{
                    background-color: #255aeb;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                }

                p{
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                }
            }
            
            
            
        }
        .img-info img{
            height: 355px;
            width: 455px;
            border-radius: 10px;
            z-index: 10;
        }
    
    
}



.curso-expandido.comunicação-visual{
    background-color: #ffffff;
        box-shadow: inset 50px 0 0 0 #59016b, inset -50px 0 0 0 #59016b,inset 0 30px 0 0 #59016b, inset 0 -30px 0 0 #59016b;
        overflow: hidden;
        
    
        .Cartão-Comunicacao_Visual{
            width: 1200px;
            height: 440px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
    
    
            .h1-CV{
                margin-top: 0px;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                color: #a405c4;
                
            }
    
            .linha-CV{
                height: 2px;
                width: 1000px;
                background-color: #7a0292;
            }

            .doisconteudos-CV{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
            }

            .tudo-CV {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(50deg, #FFFFFF 20%, hsl(293, 100%, 77%) 40%, #FFFFFF 90%);
                border-radius: 10px;
                transition: all 1s ease-in-out;
                width: 600px;
                height: 300px;
                overflow: hidden;
              }
              
              .tudo-CV h2{
                position: absolute;
                transition: all 1s ease-in-out;
                font-size: 35px;
              }
              .tudo-CV .seta-3{
                position: absolute;
                transition: all 1s ease-in-out;
                width: 30px;
                height: 35px;
                margin-top: 60px;
              }
              
              .tudo-CV:hover h2,
              .tudo-CV:hover .seta-3 {
                opacity: 0;
                visibility: hidden;
              }
              
              .sobre-CV {
                position: absolute;
                z-index: 10;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                opacity: 0;
                visibility: hidden;
                transition: all 1s ease-in-out;
              }
              
              .tudo-CV:hover .sobre-CV {
                opacity: 1;
                visibility: visible;
              }
              
            .img-CV img{
                height: 320px;
                width: 455px;
                border-radius: 10px;
                z-index: 10;
            }
            .text-CV p{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 15px;
                font-weight: 450;
                 text-align: center;
            }
            .text-CV h1{
                text-align: center;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size: 25px;
            }
            .tópicos-CV li{
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 15px;
                font-weight: 500;
            }
            .tópicos-CV h1{
                text-align: center;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size: 20px;
            }

            
        }
}
.curso-expandido.administração{
    background-color: #ffffff;
        box-shadow: inset 50px 0 0 0 #f08800, inset -50px 0 0 0 #f08800,inset 0 30px 0 0 #f08800, inset 0 -30px 0 0 #f08800;
        overflow: hidden;
        
    
        .Cartão-Administração{
            width: 1200px;
            height: 440px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            
    
    
            .h1-Admin{
                margin-top: 0px;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                color: #ff9306;
                
            }
    
            .linha-Admin{
                height: 2px;
                width: 1000px;
                background-color: #ff9306;
            }

            .doisconteudos-Admin{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            .img-Admin img{
                height: 320px;
                width: 455px;
                border-radius: 10px;
                z-index: 10;
            }

            .tudo-Admin {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(50deg, #FFFFFF 20%, hsl(36, 72%, 53%) 40%, #FFFFFF 90%);
                border-radius: 10px;
                transition: all 1s ease-in-out;
                width: 600px;
                height: 300px;
                overflow: hidden;
              }
              
              .tudo-Admin h2{
                position: absolute;
                transition: all 1s ease-in-out;
                font-size: 35px;
              }
              .tudo-Admin .seta-3{
                position: absolute;
                transition: all 1s ease-in-out;
                width: 30px;
                height: 35px;
                margin-top: 60px;
              }
              
              .tudo-Admin:hover h2,
              .tudo-Admin:hover .seta-3 {
                opacity: 0;
                visibility: hidden;
              }
              
              .sobre-Admin {
                position: absolute;
                z-index: 10;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                opacity: 0;
                visibility: hidden;
                transition: all 1s ease-in-out;
              }
              
              .tudo-Admin:hover .sobre-Admin {
                opacity: 1;
                visibility: visible;
              }
              
            .text-Admin p{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 15px;
                font-weight: 450;
                 text-align: center;
            }
            .text-Admin h1{
                text-align: center;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size: 25px;
            }
            .tópicos-Admin li{
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 15px;
                font-weight: 500;
            }
            .tópicos-Admin h1{
                text-align: center;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size: 20px;
            }
        }
}
.curso-expandido.eletromecânica{
    background-color: #ffffff;
        box-shadow: inset 50px 0 0 0 #000000, inset -50px 0 0 0 #000000,inset 0 30px 0 0 #000000, inset 0 -30px 0 0 #000000;
        overflow: hidden;
        
    
        .Cartão-Eletromecânica{
            width: 1200px;
            height: 440px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
    
    
            .h1-Eletro{
                margin-top: 0px;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                color: #252525;
                
            }
    
            .linha-Eletro{
                height: 2px;
                width: 1000px;
                background-color: #000000;
            }

            .doisconteudos-Eletro{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            .img-Eletro img{
                height: 320px;
                width: 455px;
                border-radius: 10px;
                z-index: 10;
            }
            .tudo-Eletro {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(50deg, #FFFFFF 20%, hsl(0, 2%, 21%) 40%, #FFFFFF 90%);
                border-radius: 10px;
                transition: all 1s ease-in-out;
                width: 600px;
                height: 300px;
                overflow: hidden;
              }
              
              .tudo-Eletro h2{
                position: absolute;
                transition: all 1s ease-in-out;
                font-size: 35px;
              }
              .tudo-Eletro .seta-3{
                position: absolute;
                transition: all 1s ease-in-out;
                width: 30px;
                height: 35px;
                margin-top: 60px;
              }
              
              .tudo-Eletro:hover h2,
              .tudo-Eletro:hover .seta-3 {
                opacity: 0;
                visibility: hidden;
              }
              
              .sobre-Eletro {
                position: absolute;
                z-index: 10;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                opacity: 0;
                visibility: hidden;
                transition: all 1s ease-in-out;
              }
              
              .tudo-Eletro:hover .sobre-Eletro {
                opacity: 1;
                visibility: visible;
              }
              
            .text-Eletro p{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 15px;
                font-weight: 450;
                 text-align: center;
            }
            .text-Eletro h1{
                text-align: center;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size: 25px;
            }
            .tópicos-Eletro li{
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 15px;
                font-weight: 500;
            }
            .tópicos-Eletro h1{
                text-align: center;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size: 20px;
            }
        }
}
.curso-expandido.robótica{
    background-color: #ffffff;
    box-shadow: inset 50px 0 0 0 #014e1e, inset -50px 0 0 0 #014e1e, inset 0 30px 0 0 #014e1e, inset 0 -30px 0 0 #014e1e;
    overflow: hidden;
    

    .Cartão-Robótica{
        width: 1200px;
        height: 440px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;


        .h1-Robo{
            margin-top: 0px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: #07b64a;
            
        }

        .linha-Robo{
            height: 2px;
            width: 1000px;
            background-color: #018333;
        }

        .doisconteudos-Robo{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .img-Robo img{
            height: 320px;
            width: 455px;
            border-radius: 10px;
            z-index: 10;
        }
        .tudo-Robo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(50deg, #FFFFFF 20%, hsl(138, 59%, 45%) 40%, #FFFFFF 90%);
            border-radius: 10px;
            transition: all 1s ease-in-out;
            width: 600px;
            height: 300px;
            overflow: hidden;
          }
          
          .tudo-Robo h2{
            position: absolute;
            transition: all 1s ease-in-out;
            font-size: 35px;
          }
          .tudo-Robo .seta-3{
            position: absolute;
            transition: all 1s ease-in-out;
            width: 30px;
            height: 35px;
            margin-top: 60px;
          }
          
          .tudo-Robo:hover h2,
          .tudo-Robo:hover .seta-3 {
            opacity: 0;
            visibility: hidden;
          }
          
          .sobre-Robo {
            position: absolute;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            opacity: 0;
            visibility: hidden;
            transition: all 1s ease-in-out;
          }
          
          .tudo-Robo:hover .sobre-Robo {
            opacity: 1;
            visibility: visible;
          }
          
        .text-Robo p{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
            font-weight: 450;
             text-align: center;
        }
        .text-Robo h1{
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 25px;
        }
        .tópicos-Robo li{
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
            font-weight: 500;
        }
        .tópicos-Robo h1{
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
        }
    }
}
.curso-expandido.inglês{
    background-color: #ffffff;
    box-shadow: inset 50px 0 0 0 #940202, inset -50px 0 0 0 #940202,inset 0 30px 0 0 #940202, inset 0 -30px 0 0 #940202;
    overflow: hidden;
    

    .Cartão-Inglês{
        width: 1200px;
        height: 440px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;


        .h1-ing{
            margin-top: 0px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: #e20f0f;
            
        }

        .linha-ing{
            height: 2px;
            width: 1000px;
            background-color: #a80303;
        }

        .doisconteudos-ing{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .img-ing img{
            height: 320px;
            width: 455px;
            border-radius: 10px;
            z-index: 10;
        }
        .tudo-ing {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(50deg, #FFFFFF 20%, hsl(0, 77%, 50%) 40%, #FFFFFF 90%);
            border-radius: 10px;
            transition: all 1s ease-in-out;
            width: 600px;
            height: 300px;
            overflow: hidden;
          }
          
          .tudo-ing h2{
            position: absolute;
            transition: all 1s ease-in-out;
            font-size: 35px;
          }
          .tudo-ing .seta-3{
            position: absolute;
            transition: all 1s ease-in-out;
            width: 30px;
            height: 35px;
            margin-top: 60px;
          }
          
          .tudo-ing:hover h2,
          .tudo-ing:hover .seta-3 {
            opacity: 0;
            visibility: hidden;
          }
          
          .sobre-ing {
            position: absolute;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            opacity: 0;
            visibility: hidden;
            transition: all 1s ease-in-out;
          }
          
          .tudo-ing:hover .sobre-ing {
            opacity: 1;
            visibility: visible;
          }
          
        .text-ing p{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
            font-weight: 450;
             text-align: center;
        }
        .text-ing h1{
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 25px;
        }
        .tópicos-ing li{
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
            font-weight: 500;
            margin-left: 50px;
        }
        .tópicos-ing h1{
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        
    }
}


footer{
    width: 100%;
    height: 500px;
    background: linear-gradient(150deg, #e9eefc 20%, #98b2f8 40%, #6486d1, #476dbe 60%, #274ea1 80%, #153883 100%) ;
    margin-top: 100px;
    clip-path: ellipse(110% 100% at 50% 100%)

    
}

.tudo-footer{
    position: relative;
    width: 100%;
    height: 100%;
}

.patrocionadores{
    position: absolute;
    bottom: 7%;
    left: 5%;
    gap: 20px;

    h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
    }
}

.imgs-patro{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imgs-patro img{
    width: 80px;
    height: 60px;
}

.patro-1{
    display: flex;
    gap: 15px;
}
.patro-2{
    display: flex;
    gap: 15px;
}

.Último{
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: #ffffff;
    font-size: 40px;
}

.end-cont{
    position: absolute;
    left: 5%;
    top: 20%;

    .endereco p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #072996;
    }
    .Link-endereco p{
        text-decoration: none;
        color: #072996;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 15px;
    }

    .contato p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #072996;
    }
}


@media (max-width: 768px) {
    *{
        height: 150px;
    }
    .login-cadastrar a {
        background-color: white;
        height: 20px;
        right: 200px;
        padding: 15px;
        color: hsl(226, 95%, 41%);
    }
    .underline-textos a{
        left: 200px;
        padding: 10px;

    }
    .emotion{
        height: 10px;
        padding: 1%;
    }
    .slider-container{
        padding: 50px;
        background-color: #0534ce;
        margin-top: 40px;
    }
    .central-topo{
        padding: 200px;
    }
    .argumentos::before{
        background-color: #0534ce;
        position: absolute;
        margin-top: 200px;
        top: 0;
        left: 0;
    }
    .argumentos {
  position: relative; // necessário para que o ::before se posicione corretamente

  &::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100px; // ou o tamanho que quiser para os traços
    height: 3px;
    background-color: #000;
    margin-top: 0; // remove o espaçamento extra
  }
}
.navigation-auto{
    margin-top: 50px;
    
}
.navigation-auto{
  position: absolute;
  top: 20px; // empurra pra baixo dentro do container pai
  margin-top: 285px;
  display: flex;
  gap: 20px;
}

}


